<template>
  <div class="delivery" id="step1">
    <form id="bg">
      <div id="back">
        <a href id="arrowback">&#8592;</a>
        <label id="textback">Back to cart</label>
      </div>
      <div id="stepperbg">
        <div id="group1">
          <div id="rectangel2">
            <label id="text1">1</label>
            <label id="textdelivery">Delivery</label>
            <label id="panah1">></label>
          </div>
        </div>
        <div id="group2">
          <div id="rectangel3">
            <label id="text2">2</label>
            <label id="textpayment">Payment</label>
            <label id="panah2">></label>
          </div>
        </div>
        <div id="group3">
          <div id="rectangel4">
            <label id="text3">3</label>
            <label id="textfinish">Finish</label>
          </div>
        </div>
      </div>
      <div id="header">
        <h1 id="warna">Delivery details</h1>
        <input id="check" type="checkbox" />
        <small id="send">Send as dropshipper</small>
        <input type="email" id="input1" placeholder="Email" v-model="datacustomer.email"/>
        <input type="text" id="input2" name="dn" placeholder="Dropshipper Name" v-model="datacustomer.dropship_name"/>
        <input type="number" maxlength="20" id="input3" placeholder="Phone Number" v-model="datacustomer.phonenumber" />
        <input type="number" id="input4" name="dpn" placeholder="Dropshipper Phone Number" v-model="datacustomer.dropship_phone" />
        <textarea id="input5" maxlength="120" placeholder="Delivery Address" v-model="datacustomer.delivery_address"></textarea>
      </div>
      <div id="Rectangel"></div>
      <h2 id="summary">Summary</h2>
      <small id="purchased">10 Items purchased</small>
      <small id="group5">Cost of goods</small>
      <small id="group6">500,000</small>
      <small id="group7">Dropshipper Fee</small>
      <small id="group8">5,900</small>
      <label id="group9">Total</label>
      <label id="group10">505,900</label>
      <button type="button" id="button" v-on:click="next">Continue to Payment</button>
    </form>
    <router-view />
  </div>
</template>


<script>
export default {
  name: "Delivery",
  props: {},
  data() {
    return{datacustomer:{
      email:null,
      phonenumber:null,
      delivery_address:null,
      dropship_name:null,
      dropship_phone:null
    }}
  },
  methods: {
    next: function () {
      location.replace('/payment',  this.datacustomer)
      console.log(this.datacustomer)
    },
  },
};
</script>


<style scoped>
#stepperbg {
  position: absolute;
  width: 500px;
  height: 50px;
  left: 250px;

  background: #fffae6;
  border-radius: 35px;
}
#input1 {
  position: absolute;
  width: 360px;
  height: 40px;
  top: 90px;

  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}
#input2 {
  position: absolute;
  width: 300px;
  height: 40px;
  left: 400px;
  top: 90px;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

#input3 {
  position: absolute;
  width: 360px;
  height: 40px;
  top: 150px;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}
#input4 {
  position: absolute;
  width: 300px;
  height: 40px;
  left: 400px;
  top: 150px;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

#input5 {
  position: absolute;
  width: 360px;
  height: 80px;
  top: 220px;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

#bg {
  position: absolute;
  width: 1100px;
  height: 550px;
  left: 50px;
  top: 55px;

  background: #ffffff;
  box-shadow: 2px 10px 20px rgba(255, 138, 0, 0.1);
  border-radius: 4px;
}

#step1 {
  position: relative;
  width: 1200px;
  height: 630px;
  margin: 0 auto;

  background: #fffae6;
}

#back {
  position: absolute;
  width: 107px;
  height: 18px;
  left: 45px;
  top: 30px;
}

#stepper {
  position: absolute;
  width: 500px;
  height: 70px;
  left: 250px;
}
#summary {
  position: absolute;
  width: 122px;
  height: 29px;
  left: 820px;
  top: 60px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;

  color: #ff8a00;
}

#purchased {
  position: absolute;
  width: 122px;
  height: 29px;
  left: 820px;
  top: 110px;
}

#Rectangel {
  position: absolute;
  width: 1px;
  height: 500px;
  left: 800px;
  top: 20px;

  background: #ff8a00;
  mix-blend-mode: normal;
  opacity: 0.2;
}

#header {
  position: absolute;
  width: 703px;
  height: 44px;
  left: 50px;
  top: 50px;
}

#warna {
  color: #ff8a00;
  position: absolute;
  width: 600px;
  height: 44px;
}

#check {
  position: absolute;
  left: 500px;
  top: 35px;
}

#send {
  position: absolute;
  left: 520px;
  top: 38px;

  font-family: InterUI;
  font-size: 14px;
  line-height: 16px;

  color: #2d2a40;

  mix-blend-mode: normal;
  opacity: 0.8;
}

#group5 {
  position: absolute;
  width: 260px;
  height: 99px;
  left: 820px;
  top: 325px;
}
#group7 {
  position: absolute;
  width: 260px;
  height: 99px;
  left: 820px;
  top: 350px;
}

#group9 {
  position: absolute;
  width: 260px;
  height: 99px;
  left: 820px;
  top: 396px;
  color: #ff8a00;
  font-weight: bold;
  font-size: 24px;
}

#group10 {
  position: absolute;
  width: 260px;
  height: 99px;
  left: 1000px;
  top: 396px;
  color: #ff8a00;
  font-weight: bold;
  font-size: 24px;
}
#group8 {
  position: absolute;
  width: 260px;
  height: 99px;
  left: 1000px;
  top: 350px;
}

#group6 {
  position: absolute;
  width: 260px;
  height: 99px;
  left: 1000px;
  top: 325px;
}

#button {
  position: absolute;
  width: 260px;
  height: 60px;
  left: 820px;
  top: 450px;
  background: #ff8a00;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  box-shadow: 3px 5px 10px rgba(255, 138, 0, 0.2);
  border-radius: 2px;
  color: white;
}

#group1 {
  position: absolute;
  width: 149px;
  height: 30px;
  left: 70px;
  top: 10px;
}

#rectangel2 {
  position: absolute;
  left: 0%;
  right: 79.87%;
  top: 0%;
  bottom: 0%;

  background: #ff8a00;
  box-shadow: 0px 2px 4px rgba(255, 138, 0, 0.3);
  border-radius: 15px;
}
#textdelivery {
  position: absolute;
  left: 150%;
  right: 79.87%;
  top: 20%;
  bottom: 0%;

  color: #ff8a00;
  box-shadow: 0px 2px 4px rgba(255, 138, 0, 0.3);
  border-radius: 15px;
}

#panah1 {
  position: absolute;
  height: 20px;
  left: 380%;
  right: 0%;
  top: 15%;

  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;

  color: #ff8a00;
}

#text1 {
  position: absolute;
  height: 19px;
  left: 37%;
  right: 87.25%;
  top: calc(50% - 19px / 2 + 0.5px);

  font-family: InterUI;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}

#group2 {
  position: absolute;
  width: 149px;
  height: 30px;
  left: 210px;
  top: 10px;
}

#rectangel3 {
  position: absolute;
  left: 0%;
  right: 79.87%;
  top: 0%;
  bottom: 0%;

  background: #ff8a00;
  mix-blend-mode: normal;
  opacity: 0.2;
  border-radius: 15px;
}

#textpayment {
  position: absolute;
  height: 19px;
  left: 150%;
  right: 28.86%;
  top: calc(50% - 19px / 2 + 0.5px);

  font-family: InterUI;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #ff8a00;
}

#panah2 {
  position: absolute;
  height: 24px;
  left: 390%;
  right: 0%;
  top: 20%;

  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;

  color: #ff8a00;
}

#text2 {
  position: absolute;
  height: 19px;
  left: 40%;
  right: 86.58%;
  top: calc(50% - 19px / 2 + 0.5px);

  font-family: InterUI;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;

  color: white;
}

#group3 {
  position: absolute;
  width: 84px;
  height: 30px;
  left: 350px;
  top: 10px;
}

#rectangel4 {
  position: absolute;
  left: 0%;
  right: 64.29%;
  top: 0%;
  bottom: 0%;

  background: #ff8a00;
  mix-blend-mode: normal;
  opacity: 0.2;
  border-radius: 15px;
}

#textfinish {
  position: absolute;
  height: 19px;
  left: 160%;
  right: 0%;
  top: calc(50% - 19px / 2 + 0.5px);

  font-family: InterUI;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #ff8a00;
}

#text3 {
  position: absolute;
  height: 19px;
  left: 35%;
  right: 76.19%;
  top: calc(50% - 19px / 2 + 0.5px);

  font-family: InterUI;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;

  color: white;
}

#arrowback {
  position: absolute;
  left: 0%;
  right: 83.18%;
  top: 0%;
  bottom: 0%;

  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */

  text-align: center;

  color: #000000;

  mix-blend-mode: normal;
  opacity: 0.6;
}

#textback {
  position: absolute;
  height: 16px;
  left: 26.17%;
  right: 0%;
  top: 15%;

  font-family: InterUI;
  font-size: 14px;
  line-height: 16px;

  color: #000000;

  mix-blend-mode: normal;
  opacity: 0.6;
}
</style>