<template>
  <div class="finish" id="step3">
    <form id="bg">
      <div id="stepperbg">
        <div id="group1">
          <div id="rectangel2">
            <label id="text1">1</label>
            <label id="textdelivery">Delivery</label>
            <label id="panah1">></label>
          </div>
        </div>
        <div id="group2">
          <div id="rectangel3">
            <label id="text2">2</label>
            <label id="textpayment">Payment</label>
            <label id="panah2">></label>
          </div>
        </div>
        <div id="group3">
          <div id="rectangel4">
            <label id="text3">3</label>
            <label id="textfinish">Finish</label>
          </div>
        </div>
        <div id="Rectangel"></div>
        <h2 id="summary">Summary</h2>
        <small id="purchased">10 Items purchased</small>
        <div id="separator"></div>
        <small id="deliveryestimation">Delivery Estimation</small>
        <small id="todayby">today by</small>
        <div id="separator2"></div>
        <small id="paymentmethod">Payment Method</small>
        <small id="keterangan">by</small>
        <small id="group5">Cost of goods</small>
        <small id="group6">500,000</small>
        <small id="group7">Dropshipper Fee</small>
        <small id="group12">15.000</small>
        <label id="group9">Total</label>
        <label id="group10">505,900</label>
        <small id="group11">Shipment</small>
        <small id="group8">5,900</small>
        <div id="tx">
          <small id="orderid">Order ID :</small>
          <small id="order">Your order will be delivered</small>
          <div id="head">
            <h1 id="texttx">Thank you</h1>
          </div>
        </div>
        <div id="back">
          <a href='/' id='arrowback'>&#8592;</a>
          <small id="textback">Go to homepage</small>
        </div>
      </div>
    </form>
  </div>
</template>





<script>
export default {
  name: "finish",
  props: {},
};
</script>

<style scoped>
#step3 {
  position: relative;
  width: 1200px;
  height: 630px;

  background: #fffae6;
  margin: 0 auto;
}

#bg {
  position: absolute;
  width: 1100px;
  height: 550px;
  left: 50px;
  top: 55px;

  background: #ffffff;
  box-shadow: 2px 10px 20px rgba(255, 138, 0, 0.1);
  border-radius: 4px;
}

#stepperbg {
  position: absolute;
  width: 500px;
  height: 50px;
  left: 250px;

  background: #fffae6;
  border-radius: 35px;
}

#group1 {
  position: absolute;
  width: 149px;
  height: 30px;
  left: 70px;
  top: 10px;
}

#rectangel2 {
  position: absolute;
  left: 0%;
  right: 79.87%;
  top: 0%;
  bottom: 0%;

  background: #ff8a00;
  box-shadow: 0px 2px 4px rgba(255, 138, 0, 0.3);
  border-radius: 15px;
}
#textdelivery {
  position: absolute;
  left: 150%;
  right: 79.87%;
  top: 20%;
  bottom: 0%;

  color: #ff8a00;
  box-shadow: 0px 2px 4px rgba(255, 138, 0, 0.3);
  border-radius: 15px;
}

#panah1 {
  position: absolute;
  height: 20px;
  left: 380%;
  right: 0%;
  top: 15%;

  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;

  color: #ff8a00;
}

#text1 {
  position: absolute;
  height: 19px;
  left: 37%;
  right: 87.25%;
  top: calc(50% - 19px / 2 + 0.5px);

  font-family: InterUI;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}

#group2 {
  position: absolute;
  width: 149px;
  height: 30px;
  left: 210px;
  top: 10px;
}

#rectangel3 {
  position: absolute;
  left: 0%;
  right: 79.87%;
  top: 0%;
  bottom: 0%;

  background: #ff8a00;
  box-shadow: 0px 2px 4px rgba(255, 138, 0, 0.3);
  border-radius: 15px;
}

#textpayment {
  position: absolute;
  height: 19px;
  left: 150%;
  right: 28.86%;
  top: calc(50% - 19px / 2 + 0.5px);

  /* identical to box height */

  color: #ff8a00;
}

#panah2 {
  position: absolute;
  height: 24px;
  left: 390%;
  right: 0%;
  top: 20%;

  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;

  color: #ff8a00;
}

#text2 {
  position: absolute;
  height: 19px;
  left: 40%;
  right: 86.58%;
  top: calc(50% - 19px / 2 + 0.5px);

  font-family: InterUI;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;

  color: white;
}

#group3 {
  position: absolute;
  width: 84px;
  height: 30px;
  left: 350px;
  top: 10px;
}

#rectangel4 {
  position: absolute;
  left: 0%;
  right: 64.29%;
  top: 0%;
  bottom: 0%;

  background: #ff8a00;
  mix-blend-mode: normal;
  border-radius: 15px;
}

#textfinish {
  position: absolute;
  height: 19px;
  left: 160%;
  right: 0%;
  top: calc(50% - 19px / 2 + 0.5px);

  color: #ff8a00;
}

#text3 {
  position: absolute;
  height: 19px;
  left: 35%;
  right: 76.19%;
  top: calc(50% - 19px / 2 + 0.5px);

  font-family: InterUI;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;

  color: white;
}

#Rectangel {
  position: absolute;
  width: 1px;
  height: 500px;
  left: 520px;
  top: 30px;

  background: #ff8a00;
  mix-blend-mode: normal;
  opacity: 0.2;
}

#summary {
  position: absolute;
  width: 122px;
  height: 29px;
  left: 550px;
  top: 50px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;

  color: #ff8a00;
}
#purchased {
  position: absolute;
  width: 122px;
  height: 29px;
  left: 550px;
  top: 110px;
}
#separator {
  position: absolute;
  width: 80px;
  height: 1px;
  left: 550px;
  top: 145px;

  background: #d8d8d8;
}

#separator2 {
  position: absolute;
  width: 80px;
  height: 1px;
  left: 550px;
  top: 240px;

  background: #d8d8d8;
}

#todayby {
  position: absolute;
  width: 141px;
  height: 19px;
  left: 550px;
  top: 190px;

  font-family: InterUI;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #1bd97b;
}

#deliveryestimation {
  position: absolute;
  width: 125px;
  height: 16px;
  left: 550px;
  top: 170px;

  font-family: InterUI;
  font-size: 14px;
  line-height: 16px;

  color: #000000;
}

#keterangan {
  position: absolute;
  width: 141px;
  height: 19px;
  left: 550px;
  top: 280px;

  font-family: InterUI;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #1bd97b;
}

#paymentmethod {
  position: absolute;
  width: 125px;
  height: 16px;
  left: 550px;
  top: 260px;

  font-family: InterUI;
  font-size: 14px;
  line-height: 16px;

  color: #000000;
}

#group5 {
  position: absolute;
  width: 260px;
  height: 99px;
  left: 550px;
  top: 410px;
}
#group7 {
  position: absolute;
  width: 260px;
  height: 99px;
  left: 550px;
  top: 450px;
}

#group9 {
  position: absolute;
  width: 260px;
  height: 99px;
  left: 550px;
  top: 500px;
  color: #ff8a00;
  font-weight: bold;
  font-size: 24px;
}

#group10 {
  position: absolute;
  width: 260px;
  height: 99px;
  left: 750px;
  top: 500px;
  color: #ff8a00;
  font-weight: bold;
  font-size: 24px;
}
#group8 {
  position: absolute;
  width: 260px;
  height: 99px;
  left: 750px;
  top: 430px;
}

#group6 {
  position: absolute;
  width: 260px;
  height: 99px;
  left: 750px;
  top: 410px;
}

#group11 {
  position: absolute;
  width: 260px;
  height: 99px;
  left: 550px;
  top: 430px;
}

#group12 {
  position: absolute;
  width: 260px;
  height: 99px;
  left: 750px;
  top: 450px;
}

#tx {
  position: absolute;
  width: 319px;
  height: 112px;
  left: 10px;
  top: 170px;
}

#head {
  position: absolute;
  left: 0%;
  right: 5.96%;
  top: 0%;
  bottom: 60.71%;
}

#texttx {
  position: absolute;
  height: 44px;
  left: 0%;
  right: 34%;
  top: calc(50% - 44px / 2);

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */

  color: #ff8a00;
}

#orderid {
  position: absolute;
  height: 16px;
  left: 0%;
  right: 66.14%;
  top: calc(50% - 16px / 2 + 22px);

  font-family: InterUI;
  font-size: 14px;
  line-height: 16px;

  color: #000000;
}

#order {
  position: absolute;
  height: 16px;
  left: 0%;
  right: 0%;
  top: calc(50% - 16px / 2 + 48px);

  font-family: InterUI;
  font-size: 14px;
  line-height: 16px;

  color: #000000;

  mix-blend-mode: normal;
  opacity: 0.6;
}

#arrowback {
  position: absolute;
  left: 0%;
  right: 86.76%;
  top: 0%;
  bottom: 0%;

  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */

  text-align: center;

  color: #000000;

  mix-blend-mode: normal;
  opacity: 0.6;
}

#textback {
  position: absolute;
  height: 16px;
  left: 20.59%;
  right: 0%;
  top: calc(50% - 16px / 2);

  font-family: InterUI;
  font-size: 14px;
  line-height: 16px;

  color: #000000;

  mix-blend-mode: normal;
  opacity: 0.6;
}

#back {
  position: absolute;
  width: 136px;
  height: 18px;
  left: 10px;
  top: 350px;
}
</style>