<template>
  <div class="payment" id="step2">
    <form id="bg">
      <div id="back">
        <a href="/delivery" id="arrowback">&#8592;</a>
        <label id="textback">Back to Delivery</label>
      </div>
      <div id="stepperbg">
        <div id="group1">
          <div id="rectangel2">
            <label id="text1">1</label>
            <label id="textdelivery">Delivery</label>
            <label id="panah1">></label>
          </div>
        </div>
        <div id="group2">
          <div id="rectangel3">
            <label id="text2">2</label>
            <label id="textpayment">Payment</label>
            <label id="panah2">></label>
          </div>
        </div>
        <div id="group3">
          <div id="rectangel4">
            <label id="text3">3</label>
            <label id="textfinish">Finish</label>
          </div>
        </div>
        <div id="Rectangel"></div>
        <h2 id="summary">Summary</h2>
        <small id="purchased">10 Items purchased</small>
        <div id="separator"></div>
        <small id="deliveryestimation">Delivery Estimation</small>
        <small id="todayby">today by </small>
        <small id="group5">Cost of goods</small>
        <small id="group6">500,000</small>
        <small id="group7">Dropshipper Fee</small>
        <small id="group8">5,900</small>
        <label id="group9">Total</label>
        <label id="group10">505,900</label>
        <small id="group11">Shipment</small>
        <small id="group12">15.000</small>
        <button type="button" id="button" v-on:click="next">Pay With </button>
      </div>
      <div id="shipment">
        <div id="header">
          <h1 id="textheading">Shipment</h1>
        </div>
        <div id="gosend">
          <div id="input1">
            <small id="limabelas">15.000</small>
            <small id="gogosend">GO-SEND</small>
            <input
              type="radio"
              name="shipment"
              @change="onChange($event)"
              v-model="datacustomer.selectedshipment"
              id="radio1"
              value="GO-SEND"
            />
          </div>
        </div>
        <div id="jne">
          <div id="input2">
            <small id="sembilan">9.000</small>
            <small id="textjne">JNE</small>
            <input type="radio" name="shipment" v-model="datacustomer.selectedshipment" @change="onChange($event)" id="radio2" value="JNE" />
          </div>
        </div>
        <div id="personal">
          <div id="input3">
            <small id="duasembilan">29.000</small>
            <small id="textpersonal">Personal Courier</small>
            <input
              type="radio"
              name="shipment"
              id="radio3"
              v-model="datacustomer.selectedshipment"
              @change="onChange($event)"
              value="PERSONAL COURIER"
            />
          </div>
        </div>
      </div>
      <div id="payment">
        <div id="header2">
          <h1 id="textpayment1">Payment</h1>
        </div>
        <div id="wallet">
          <div id="input4">
            <small id="textwallet">e-Wallet</small>
            <input type="radio" v-model="datacustomer.selectedpayment" name="payment" id="radio4" value="e-Wallet"  />
          </div>
        </div>
        <div id="bank">
          <div id="input5">
            <small id="textbank">Bank Transfer</small>
            <input type="radio" v-model="datacustomer.selectedpayment" name="payment" id="radio5" value="Bank Transfer"  />
          </div>
        </div>
        <div id="va">
          <div id="input6">
            <small id="textva">Virtual Account</small>
            <input type="radio" v-model="datacustomer.selectedpayment" name="payment" id="radio6" value="Virtual Account"  />
          </div>
        </div>
      </div>
    </form>
  </div>
</template>



<script>
export default {
  name: "payment",
  props: {},
  data() {
    return{datacustomer:{
      selectedshipment:null,
      selectedpayment:null
    }}
  },
  methods: {
    next: function () {
      location.replace("/finish");
      // console.log(this.datacustomer)
    },
    onChange(event) {
      var optionText = event.target.value;
      console.log(optionText)
    },
  },
};
</script>

<style scoped>
#step2 {
  position: relative;
  width: 1200px;
  height: 630px;

  background: #fffae6;
  margin: 0 auto;
}

#bg {
  position: absolute;
  width: 1100px;
  height: 550px;
  left: 50px;
  top: 55px;

  background: #ffffff;
  box-shadow: 2px 10px 20px rgba(255, 138, 0, 0.1);
  border-radius: 4px;
}

#stepperbg {
  position: absolute;
  width: 500px;
  height: 50px;
  left: 250px;

  background: #fffae6;
  border-radius: 35px;
}

#group1 {
  position: absolute;
  width: 149px;
  height: 30px;
  left: 70px;
  top: 10px;
}

#rectangel2 {
  position: absolute;
  left: 0%;
  right: 79.87%;
  top: 0%;
  bottom: 0%;

  background: #ff8a00;
  box-shadow: 0px 2px 4px rgba(255, 138, 0, 0.3);
  border-radius: 15px;
}
#textdelivery {
  position: absolute;
  left: 150%;
  right: 79.87%;
  top: 20%;
  bottom: 0%;

  color: #ff8a00;
  box-shadow: 0px 2px 4px rgba(255, 138, 0, 0.3);
  border-radius: 15px;
}

#panah1 {
  position: absolute;
  height: 20px;
  left: 380%;
  right: 0%;
  top: 15%;

  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;

  color: #ff8a00;
}

#text1 {
  position: absolute;
  height: 19px;
  left: 37%;
  right: 87.25%;
  top: calc(50% - 19px / 2 + 0.5px);

  font-family: InterUI;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}

#group2 {
  position: absolute;
  width: 149px;
  height: 30px;
  left: 210px;
  top: 10px;
}

#rectangel3 {
  position: absolute;
  left: 0%;
  right: 79.87%;
  top: 0%;
  bottom: 0%;

  background: #ff8a00;
  box-shadow: 0px 2px 4px rgba(255, 138, 0, 0.3);
  border-radius: 15px;
}

#textpayment {
  position: absolute;
  height: 19px;
  left: 150%;
  right: 28.86%;
  top: calc(50% - 19px / 2 + 0.5px);

  /* identical to box height */

  color: #ff8a00;
}

#panah2 {
  position: absolute;
  height: 24px;
  left: 390%;
  right: 0%;
  top: 20%;

  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;

  color: #ff8a00;
}

#text2 {
  position: absolute;
  height: 19px;
  left: 40%;
  right: 86.58%;
  top: calc(50% - 19px / 2 + 0.5px);

  font-family: InterUI;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;

  color: white;
}

#group3 {
  position: absolute;
  width: 84px;
  height: 30px;
  left: 350px;
  top: 10px;
}

#rectangel4 {
  position: absolute;
  left: 0%;
  right: 64.29%;
  top: 0%;
  bottom: 0%;

  background: #ff8a00;
  mix-blend-mode: normal;
  opacity: 0.2;
  border-radius: 15px;
}

#textfinish {
  position: absolute;
  height: 19px;
  left: 160%;
  right: 0%;
  top: calc(50% - 19px / 2 + 0.5px);

  color: #ff8a00;
}

#text3 {
  position: absolute;
  height: 19px;
  left: 35%;
  right: 76.19%;
  top: calc(50% - 19px / 2 + 0.5px);

  font-family: InterUI;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;

  color: white;
}

#arrowback {
  position: absolute;
  left: 0%;
  right: 83.18%;
  top: 0%;
  bottom: 0%;

  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */

  text-align: center;

  color: #000000;

  mix-blend-mode: normal;
  opacity: 0.6;
}

#textback {
  position: absolute;
  width: 100px;
  height: 16px;
  left: 26.17%;
  right: 0%;
  top: 20%;

  font-family: InterUI;
  font-size: 14px;
  line-height: 16px;

  color: #000000;

  mix-blend-mode: normal;
  opacity: 0.6;
}

#back {
  position: absolute;
  width: 107px;
  height: 18px;
  left: 45px;
  top: 30px;
}

#Rectangel {
  position: absolute;
  width: 1px;
  height: 500px;
  left: 520px;
  top: 20px;

  background: #ff8a00;
  mix-blend-mode: normal;
  opacity: 0.2;
}

#summary {
  position: absolute;
  width: 122px;
  height: 29px;
  left: 550px;
  top: 50px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;

  color: #ff8a00;
}

#purchased {
  position: absolute;
  width: 122px;
  height: 29px;
  left: 550px;
  top: 110px;
}

#button {
  position: absolute;
  width: 260px;
  height: 60px;
  left: 550px;
  top: 450px;
  background: #ff8a00;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  box-shadow: 3px 5px 10px rgba(255, 138, 0, 0.2);
  border-radius: 2px;
  color: white;
}

#shipment {
  position: absolute;
  width: 703px;
  height: 44px;
  left: 50px;
  top: 90px;
  font-family: Montserrat;
}

#gosend {
  position: absolute;
  width: 180px;
  height: 60px;
  left: 0px;
  top: 75px;
}

#limabelas {
  position: absolute;
  height: 19px;
  left: 8.33%;
  right: 63.89%;
  top: calc(50% - 19px / 2 + 9.5px);

  font-family: InterUI;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #2d2a40;
}

#gogosend {
  position: absolute;
  height: 15px;
  left: 8.33%;
  right: 59.44%;
  top: calc(50% - 15px / 2 - 10.5px);

  font-family: InterUI;
  font-size: 13px;
  line-height: 15px;

  color: #000000;

  mix-blend-mode: normal;
  opacity: 0.8;
}

#input1 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

#radio1 {
  position: absolute;
  left: 80%;
  right: 0%;
  top: 40%;
  bottom: 0%;

  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

#radio2 {
  position: absolute;
  left: 80%;
  right: 0%;
  top: 40%;
  bottom: 0%;

  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

#jne {
  position: absolute;
  width: 180px;
  height: 60px;
  left: 190px;
  top: 75px;
}

#textjne {
  position: absolute;
  height: 15px;
  left: 8.33%;
  right: 59.44%;
  top: calc(50% - 15px / 2 - 10.5px);

  font-family: InterUI;
  font-size: 13px;
  line-height: 15px;

  color: #000000;

  mix-blend-mode: normal;
  opacity: 0.8;
}

#sembilan {
  position: absolute;
  height: 19px;
  left: 8.33%;
  right: 67.78%;
  top: calc(50% - 19px / 2 + 9.5px);

  font-family: InterUI;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #2d2a40;
}

#input2 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

#heading {
  position: absolute;
  width: 300px;
  height: 44px;
  left: 0px;
  top: 127px;
}

#textheading {
  color: #ff8a00;
  position: absolute;
  width: 600px;
  height: 44px;
}

#check1 {
  position: absolute;
  height: 18px;
  left: 81.67%;
  right: 8.33%;
  top: calc(50% - 18px / 2);

  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height */

  color: #1bd97b;
}

#personal {
  position: absolute;
  width: 180px;
  height: 60px;
  left: 380px;
  top: 75px;
}

#input3 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

#textpersonal {
  position: absolute;
  width: 100px;
  height: 20px;
  left: 8.33%;
  right: 70.44%;
  top: calc(50% - 15px / 2 - 10.5px);

  font-family: InterUI;
  font-size: 13px;
  line-height: 15px;

  color: #000000;

  mix-blend-mode: normal;
  opacity: 0.8;
}

#duasembilan {
  position: absolute;
  height: 19px;
  left: 8.33%;
  right: 62.78%;
  top: calc(50% - 19px / 2 + 9.5px);

  font-family: InterUI;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #2d2a40;
}

#radio3 {
  position: absolute;
  left: 80%;
  right: 0%;
  top: 40%;
  bottom: 0%;

  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

#payment {
  position: absolute;
  width: 560px;
  height: 134px;
  left: 50px;
  top: 200px;
}

#heading2 {
  position: absolute;
  width: 300px;
  height: 44px;
  left: 90px;
  top: 321px;
}

#textpayment1 {
  position: absolute;
  height: 44px;
  left: 0%;
  right: 43%;
  top: calc(50% - 44px / 2);

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */

  color: #ff8a00;
}

#input4 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

#wallet {
  position: absolute;
  width: 180px;
  height: 60px;
  left: 0px;
  top: 120px;
}

#textwallet {
  position: absolute;
  height: 19px;
  left: 8.33%;
  right: 33.33%;
  top: calc(50% - 19px / 2 + 0.5px);

  font-family: InterUI;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #000000;
}

#radio4 {
  position: absolute;
  left: 80%;
  right: 0%;
  top: 40%;
  bottom: 0%;

  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

#bank {
  position: absolute;
  width: 180px;
  height: 60px;
  left: 190px;
  top: 120px;
}

#input5 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

#textbank {
  position: absolute;
  height: 19px;
  left: 8.33%;
  right: 33.33%;
  top: calc(50% - 19px / 2 + 0.5px);

  font-family: InterUI;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #000000;
}

#radio5 {
  position: absolute;
  left: 80%;
  right: 0%;
  top: 40%;
  bottom: 0%;

  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

#radio6 {
  position: absolute;
  left: 80%;
  right: 0%;
  top: 40%;
  bottom: 0%;

  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

#va {
  position: absolute;
  width: 180px;
  height: 60px;
  left: 380px;
  top: 120px;
}

#input6 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

#textva {
  position: absolute;
  height: 19px;
  left: 8.33%;
  right: 27.78%;
  top: calc(50% - 19px / 2 + 0.5px);

  font-family: InterUI;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #000000;
}

#separator {
  position: absolute;
  width: 80px;
  height: 1px;
  left: 550px;
  top: 145px;

  background: #d8d8d8;
}

#todayby {
  position: absolute;
  width: 141px;
  height: 19px;
  left: 550px;
  top: 200px;

  font-family: InterUI;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #1bd97b;
}

#deliveryestimation {
  position: absolute;
  width: 125px;
  height: 16px;
  left: 550px;
  top: 180px;

  font-family: InterUI;
  font-size: 14px;
  line-height: 16px;

  color: #000000;
}

#group5 {
  position: absolute;
  width: 260px;
  height: 99px;
  left: 550px;
  top: 325px;
}
#group7 {
  position: absolute;
  width: 260px;
  height: 99px;
  left: 550px;
  top: 350px;
}

#group9 {
  position: absolute;
  width: 260px;
  height: 99px;
  left: 550px;
  top: 400px;
  color: #ff8a00;
  font-weight: bold;
  font-size: 24px;
}

#group10 {
  position: absolute;
  width: 260px;
  height: 99px;
  left: 750px;
  top: 400px;
  color: #ff8a00;
  font-weight: bold;
  font-size: 24px;
}
#group8 {
  position: absolute;
  width: 260px;
  height: 99px;
  left: 750px;
  top: 350px;
}

#group6 {
  position: absolute;
  width: 260px;
  height: 99px;
  left: 750px;
  top: 325px;
}

#group11 {
  position: absolute;
  width: 260px;
  height: 99px;
  left: 550px;
  top: 375px;
}

#group12 {
  position: absolute;
  width: 260px;
  height: 99px;
  left: 750px;
  top: 375px;
}
</style>