<template>
  <div id="app">
    
    <router-view />
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
// import Delivery from './components/Delivery.vue'
// import Payment from './components/Payment.vue'
// import Finish from './components/Finish.vue'

export default {
  name: "App",
  // components: {
  //   Delivery
  // }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 40px;
}
</style>
